/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

@font-face {
  font-family: ExpresswayRg;
  src: url("/assets/fonts/ExpresswayRg.otf");
}

@font-face {
  font-family: ExpresswayRg-Bold;
  src: url("/assets/fonts/ExpresswayRg-Bold.otf");
}

* {
  margin: 0;
  padding: 0;
}

:root {
  /* Fondos */
  --bg-white: #ffffff;
  --bg-light-white: #f5f5f5;
  --bg-danger: #fc7a26;
  --bg-light-blue: #006eff;
  --bg-dark-blue: #0051ff;
  --bg-light-gray: #919191;
  --bg-dark-gray: #161616;

  /* Textos */
  --primary-font: "Sarabun", sans-serif;
  --text-white: #ffffff;
  --text-dark-white: #919191;
  --text-black: #121212;
  --text-danger: #fc7a26;
  --text-light-blue: #006eff;
  --text-dark-blue: #0051ff;
}

body {
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.75rem;
  background: var(--bg-white);
  color: var(--text-black);
  overflow-x: hidden;

}

/* Barra de scroll personalizada */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #919191;
}

::selection {
  background: #ff57144d;
}

/* Volver a Inicio */
#scrollUp {
  position: fixed;
  right: 2%;
  bottom: 3%;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  z-index: 500;
  display: none;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  background: var(--bg-white);
}

#scrollUp.scrollActive {
  display: block;
}

.fa-circle-arrow-up {
  color: var(--bg-danger);
  font-size: 40px;
}

/* CSS Personalizado */
a,
a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

.btn-danger {
  padding: 0.8rem 1.5rem;
  background: var(--bg-danger);
  border-color: var(--bg-danger);
  font-size: 1rem;
  font-weight: 500;
}

.btn-danger:hover {
  color: var(--text-danger);
  background: transparent;
}

/* Menú */
#header .navbar-brand #bordados {
  font-size: 30px;
  font-family: ExpresswayRg-Bold;
  letter-spacing: -0.5px;
}

#header .navbar-brand #espacio {
  font-size: 30px;
  font-family: ExpresswayRg;
  letter-spacing: -8px;
}

#header .navbar-brand #shalom {
  font-size: 30px;
  font-family: ExpresswayRg;
  letter-spacing: -0.5px;
}

#header .navbar-nav .nav-item .nav-link {
  padding: 10px 0px 10px 20px;
  color: var(--text-black);
  text-align: center;
}

#header .navbar-nav .nav-item .nav-link:hover,
#header .navbar-nav .nav-item .nav-link.active {
  color: var(--text-danger);
}

.btn-primary:hover,
.btn-primary:active {
  background-color: var(--bg-dark-blue);
}

#header .navbar-toggler {
  border-style: none;
  font-size: 24px;
  width: unset;
  height: unset;
}

#header .navbar-toggler:hover {
  color: #2c2c2c;
  transition: all 0.4s ease-in-out 0s;
}

#header .navbar-toggler:focus {
  border-style: none;
  font-size: 24px;
  box-shadow: none;
}

/* Inicio */
.home {
  margin-top: 90px;
}

.home .home-banner-1,
.home .home-banner-2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% center;
  min-height: 650px;
  position: relative;
}

.home .home-banner-1 {
  background-image: url('/assets/images/maquina1.jpg');
}

.home .home-banner-2 {
  background-image: url('/assets/images/maquina2.jpg');
}

.home .home-banner .home-banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-110%, -50%)
}

.home .home-banner .home-banner-text h1 {
  font-size: 6rem;
}

.home .carousel-indicators [data-bs-target] {
  background-color: var(--bg-danger);
  width: 2.5rem;
  height: 0.313rem;
}

.home .carousel-control-next-icon,
.home .carousel-control-prev-icon {
  background: transparent;
}

.home .slider-icon {

  font-size: 3rem;
  font-weight: 600;
  color: var(--text-danger);
}

.fa-angle-left {
  color: #f1f1f1;
  font-size: 2rem;
}

.fa-angle-right {
  color: #c0c0c0;
  font-size: 2rem;
}

/* Tienda */
.tienda {
  background-color: var(--bg-light-white);
}

.tienda .container h2 {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Producto */
.producto {
  margin-top: 95px;
}

.producto h2 {
  padding-bottom: 45px;
  padding-top: 50px;
}

.producto p {
  padding-top: 20px;
}

.product {
  background-color: var(--bg-light-white);
  padding-bottom: 10px;
}

/* Acerca de */
.acerca .container {
  padding-top: 30px 0px;
}

.acerca .container h2 {
  padding-bottom: 30px;
  padding-top: 30px;
}

.acerca .container h3 {
  padding-top: 30px;
}

/* Contacto */
.contact .grado {
  border-color: var(--bg-white);
  margin-top: 10px;
}

.contact span {
  padding-right: 10px;
}

.contact h5 {
  padding-bottom: 15px;
}

.contact .grado :active {
  border: none;
}

.map {
  padding-bottom: 10px;
}

.contact .info_items {
  text-align: center;
}

.contact .btn {
  margin-top: 10px;
  margin-bottom: 40px;
}

#contacto .contact {
  padding: 30px 0px;
}

.fa-user-circle {
  font-size: 70px;
}

.cantact_info::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.9;
}

.cantact_info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info_title,
.info_items {
  position: relative;
  z-index: 2;
  color: rgb(1, 1, 1);
}

.info_title {
  margin-bottom: 20px;
}

.info_title span {
  display: block;
  text-align: center;
}

.info_title h2 {
  font-size: 30px;
}

.info_items p {
  display: flex;
  align-items: center;
  font-weight: 550;
  color: #121212;
}

.info_items p:nth-child(1) span {
  font-size: 25px;
  margin-right: 15px;
  margin-left: 4px;
}

.info_items p:nth-child(2) span {
  font-size: 25px;
  margin-right: 15px;
  margin-left: 4px;
}

.info_items p:nth-child(3) span {
  font-size: 25px;
  margin-right: 15px;
  margin-left: 4px;
}

.fw-bold {
  text-align: center;
}

.contact {
  background-color: var(--bg-light-white);
}

.contact .info li p a {
  font-size: 1rem;
  display: inline-block;
  color: var(--text-black);
}

.contact .form-group {
  margin-bottom: 1.5rem;
}

.contact .form-control {
  height: 3.75rem;
  border: none;
  font-size: 1rem;
  box-shadow: 0 0.1875rem 1.25rem 0 rgb(0 0 0 / 12%);
}

/* Dayana y Jean Franco */
.producto #mostrarImformacion {
  margin-bottom: 60px;
  margin-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.producto #informacion img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -40px;
  margin-bottom: 20px;
}

.producto #informacion .row {
  padding-bottom: 50px;
  margin-top: -60px;
}

.producto #informacion span {
  padding-right: 10px;
}

.producto #informacion h4 {
  padding-bottom: 10px;
}

/* Footer */
.footer {
  padding: 50px;
  background: var(--bg-dark-gray);
}

.footer .footer-tittle {
  padding-bottom: 30px;
}

.footer .footer-tittle #bordados {
  color: var(--text-white);
  font-size: 40px;
  font-family: ExpresswayRg-Bold;
}

.footer .footer-tittle #espacio {
  color: var(--text-white);
  font-size: 40px;
  font-family: ExpresswayRg;
  letter-spacing: -10px;
}

.footer .footer-tittle #shalom {
  color: var(--text-white);
  font-size: 40px;
  font-family: ExpresswayRg;
}

.footer .iconos {
  padding-bottom: 30px;
}

.fa-facebook-f {
  padding-right: 12px;
  color: var(--text-dark-white);
  font-size: 30px;
  transition: all 0.2s ease-in-out 0s;
}

.fa-waze {
  color: var(--text-dark-white);
  font-size: 30px;
  transition: all 0.2s ease-in-out 0s;
}

.fa-facebook-f:hover,
.fa-facebook-f:active,
.fa-waze:hover,
.fa-waze:active {
  color: var(--text-white);
}

.footer hr {
  color: var(--text-dark-white);
}

.footer a {
  color: var(--text-danger);
  transition: all 0.2s ease-in-out 0s;
}

.footer a:hover,
.footer a:active {
  color: #e45b00;
}

.footer p {
  color: var(--text-dark-white);
}

.footer .menu {
  margin-bottom: 30px;
}

.footer .menu a {
  color: var(--text-dark-white);
  margin: 0 10px;
  transition: all 0.2s ease-in-out 0s;
}

.footer .menu a:hover,
.footer .menu a:active {
  color: var(--text-white);
}